/*Base Colours*/

.white{
  background-color: #F4F6F6;
}

.blue {
  background-color: #21657C;
}

.red {
  background-color: #B54945;
}

.black {
  background-color: #111011;
}

.tan {
  background-color: #C3C5B8;
}

.burr {
  background-color: #541f14
}

/*Colours for type*/

.tdgrey{
  color: #262626;
}

.twhite{
  color: #F4F6F6;
}
